@model WebApplication1.Models.Usuario

@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/usuario")
}


@using (Html.BeginForm())
{
<div class="form-horizontal">
    <h4>Usuário</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class="form-control", data_bind = "value: email"} })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.Senha, htmlAttributes: new { @class="form-control", data_bind = "value: senha, style: { border-color: confirmar() ? 'black' : 'red'}"})
        </div>
    </div>
    <div class="form-group">
        <label for="confirmarSenha" class="control-label col-md-2">Confirmar Senha</label>
        <div class="col-md-10">
            <input type="password" id="confirmarSenha" class="form-control" data-bind="value: confirmarSenha, style: {border-color: confirmar() ? 'black':'red'}" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Salvar" class="btn btn-default" />
        </div>
    </div>
</div>
}
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>Email </th>
            <th>Último Acesso </th>
            <th>Operações</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: usuarios">
        <tr>
            <td data-bind="text: Codigo"></td>
            <td data-bind="text: Email"></td>
            <td data-bind="text: UltimoAcesso"></td>
            <td>
                <button>Editar</button>
                <button>Excluir</button>
            </td>
        </tr>
    </tbody>
</table>